@using System.Xml.Schema
@using WebbShop.Models.DataContexts.Cart
@using WebbShop.Models.Entities
@model IEnumerable<WebbShop.Models.Entities.Product>


@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ArticleName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Stock)

        </th>
    </tr>
    @{
        double total = 0.0;
        if (Session["Cart"] != null)
        {
            List<CartItem> cartList = (List<CartItem>)Session["Cart"];
            foreach (var item in cartList)
            {
                <tr>
                    <th>
                        @item.Product.ArticleID
                    </th>
                    <th>
                        @Html.ActionLink(@item.Product.ArticleName, "Details", "Products", new { id = item.Product.ArticleID }, null)
                    </th>
                    <th>
                        @{
                            double taxIncluded = item.Product.Price * 1.25;
                        }
                        @taxIncluded.ToString("C")
                    </th>
                    <th>
                        @item.Quantity
                    </th>

                    <th>
                        @Html.ActionLink("Add", "AddToCart", "Products", new { id = @item.Product.ArticleID }, null)|
                        @Html.ActionLink("Remove", "RemoveFromCart", "Products", new { id = @item.Product.ArticleID }, null)
                    </th>
                </tr>
                total += (taxIncluded * item.Quantity);
            }
        }
    }

</table>

<br />
<br />

<h3><strong>@total.ToString("C")</strong></h3>

<br />
<br />

@{
    List<CartItem> cart = (List<CartItem>) Session["Cart"];
    if (cart != null)
    {
        if (cart.Any())
        {
            <a type="button" class="btn btn-primary btn-md" href="@Url.Action("Create", "Checkout")">CHECKOUT</a>
        }
    }
}
